body,
header,
main,
footer {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content-display>.container-div {
    display: flex;
    padding: 1em;
    flex-direction: row;
    justify-content: center;
}

.container-div>.value-div,
.container-div>.tag-div {
    margin: 0 10px;
}