body,
header,
main,
footer {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main>ul {
    font-size: 2.5em;
}

main>ul>li {
    text-align: left;
    font-size: 0.5em;
    list-style-type: none;
    padding: 0 0 0 1em;
}